
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactDetails</title>
</head>
<body>
    <div align="center">
        Email us with any questions (youremail@@yourdomain.com) or inquiries. We would be happy to answer your questions and set up a meeting with you.
    </div>
</body>
</html>
