
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        <h2>Welcome to my MVC Application ...</h2>
        <h5>@ViewBag.displayText</h5>
    </div>
</body>
</html>
