
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvalidUser</title>
</head>
<body>
    <div align="center">
        <h3>Invalid User ID or Password</h3>
        <br />
        @Html.ActionLink("Retry Login", "Login", "Home")
    </div>
</body>
</html>
